@media only screen and (max-width:600px){
    #top{
        background-color: darkblue;
        color:white;
        text-align:center;
        font-size:2em;
        font-weight:bolder;
        padding: 1em
        /*gustavo is a duck*/
    }
    body{
        margin:0px;

    }
    img{
        float:left;
    }
    .gridcontainer{
        display:grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows:  1fr, 1fr, 1fr, 1fr, 1fr;
}
}
@media only screen and (min-width:600px){
    #top{
        background-color: darkblue;
        color:white;
        text-align:center;
        font-size:2em;
        font-weight:bolder;
        padding: 1em
        /*gustavo is a duck*/
    }
    body{
        margin:0px;

    }
    img{
        float:left;
    }
    .gridcontainer{
        display:grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows:  1fr, 1fr, 1fr, 1fr, 1fr;
}
}
@media only screen and (min-width: 900px){
    #top{
        background-color: darkblue;
        color:white;
        text-align:center;
        font-size:2em;
        font-weight:bolder;
        padding: 1em
        /*gustavo is a duck*/
    }
    body{
        margin:0px;

    }
    img{
        float:left;
    }
    .gridcontainer{
        display:grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows:  1fr, 1fr, 1fr, 1fr, 1fr;
    }
}